<ion-view  hide-nav-bar="true" title="Welcome" id="page0" class=" ">
    <ion-content padding="true" class="has-header">
    	<center>
    		<h1>Welcome to Shares</h1>
            <p><b>Share</b> your or nearest incident and stories to let other people know the current phenomenon.</p>
            <p>&ldquo;Let us be unite with <b>Shares</b> and help people who in hazard&rdquo;</p>
    		<img src="img/unite5-gif.gif" style="width:100%">
    		<img src="img/unite54.gif" style="width:10%;height:10%;">
    		<br>
    		&copy; 2016.
    	</center>
    </ion-content>
</ion-view>